@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font {
font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
}
.dropdown_height{
  height: 40px;
}
.display_flex{
  height: 100%;
}
h2{
  font-size:x-large
}
h3{
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top:0;
}
h4{
  font-size:medium;
  margin-top: 0;
  margin-bottom: 30px;
}
h5{
  font-weight: normal;
  font-size: medium;
}
.bold-only
{
  font-weight:bold;
}